*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box1{
    margin: o;
    padding: 0;
    display:flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    
}
.box2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box3{
    display: flex;
    justify-content: center;
    width: 250px;
    height: 100px;
    align-items: center;
    
}
.box3 button a{
    text-decoration: none;
}
