*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

h3 {
    color:white;
    background-color: rgb(66, 12, 12);

}

h2{
    color: blue;
}

body {
    background-image: url(FOODIMG/foodbgimg/bgimg2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.container1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-color: rgb(199, 155, 104);
    height: 40vh;
    border: 5px solid rgb(195, 247, 26);
    border-radius: 200px;
    
}
.container1 button a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: aqua;
    background-color: rgb(180, 75, 75);
    animation: animate1 15s linear infinite;
    
}
@keyframes animate1{
    from{
        scale: .5;
    }
    to{
        scale: 1.0;
    }
}
.container1 button marquee{
    display: flex;
    color: #21ef28;
    background-color: aquamarine;
    height: 50%;
    width: 100%;
    animation: animate 10s linear infinite;
}
@keyframes animate{
    0%{
        color: #21ef28;
    }
    50%{
        color: #5311ec;
    }
    75%{
        color: #f509d1;
    }
    100%{
     color: #ed8506;   
    }
}
